[submodule "T.T.M.A.T.G.R.A.L.R.W.R.P"]
	path = T.T.M.A.T.G.R.A.L.R.W.R.P
	url = https://github.com/SYSTEMS-OPERATOR/T.T.M.A.T.G.R.A.L.R.W.R.P/
[submodule "Poly"]
	path = Poly
	url = https://github.com/Tonic-AI/Poly
[submodule "lang_agent"]
	path = lang_agent
	url = https://github.com/meta-introspector/lang_agent.git
